@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
  .animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
}

h2 {
  @apply text-2xl font-semibold
}

.inclinate {
  clip-path: polygon(0 20px, 100% 0, 100% calc(100% - 20px), 0 100%);
}