---
import { Image } from "astro:assets"
import calendar from "../assets/calendar.png"
---

<section>
  <p class="px-5 pb-5 prose text-center">Durant aquest mes ens podràs trobar als següents llocs:</p>
  <Image src={calendar} alt="Calendari Abril 465" />
</section>