<section class="flex flex-col gap-3 p-5 text-center items-center">
  <h2 class="text-2xl font-semibold">Col·labora</h2>
  <p class="prose">
    Aquest any el repte té una <span class="text-yellow-500 font-semibold">causa solidaria</span>. Tothom podrà aportar el seu granet d’arena a <span class="text-yellow-500 font-semibold">Pallapupas</span>.
  </p>
  <p class="prose">
    Tots els beneficis dels mitjons edició ¨Abril 465¨ amb colaboració amb <span class="text-yellow-500 font-semibold">Blood Bros Socks</span> aniran destinats a aquesta organització, de la mateixa manera que totes les donacions que recollirem durant tot el repte.
  </p>
  <div class="flex gap-5 my-5">
    <div class="py-10 px-5 border rounded-xl w-full flex flex-col justify-center">
      <p>Compra uns mitjons</p>
    </div>
    <div class="py-10 px-5 border rounded-xl w-full flex flex-col justify-center">
      <p>Fes una donació</p>
    </div>
  </div>
</section>