---
import { getImage, Image } from "astro:assets"
import horizontal from "../assets/horizontal_characters.png"
import FollowButton from "./FollowButton.astro"
import aleix from "../assets/aleix.png"
import jordi from "../assets/jordi.png"
import noseAleix from "../assets/aleix_nas.png"
import noseJordi from "../assets/jordi_nas.png"
---

<section class="flex flex-col gap-2 p-5">
  <h2 class="text-2xl font-semibold text-center">Segueix-nos!</h2>
  <div class="flex gap-2 justify-center">
    <FollowButton normalImage={jordi} noseImage={noseJordi} name="@cala.mitat" instagram="https://www.instagram.com/cala.mitat/?hl=es" tiktok="https://www.tiktok.com/@cala.mitat?lang=es" />
    <FollowButton normalImage={aleix} noseImage={noseAleix} name="@aleixcalafell" instagram="https://www.instagram.com/aleixcalafell/" tiktok="" />      
  </div>
</section>