---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import horizontalCharacters from '../assets/horizontal_characters.png'
import horizontal from '../assets/horizontal.png'
---

<div class="flex justify-center py-5 bg-blackk" style="clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), 0 100%);">
	<img src={horizontalCharacters.src} alt="Abril 465" class="w-full max-w-xl object-cover" style="filterr: drop-shadow(0 0 0.75rem #f8e963);">
</div>