---
import { Image } from "astro:assets"
import logoPallapupas from "../assets/logo.svg"
---

<section class="bg-[#222] inclinate py-10">
  <h2 class="text-center text-white">Patrocinadors</h2>
  <Image src={logoPallapupas} alt="Logo Pallapupas" />
</section>