---
import "../styles/global.css"
import "@fontsource-variable/oswald"
import "@fontsource/kalam"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
		<meta name="description" content="Abril 465 és un repte dels germans Calafell on cada dia correran 1km més que el dia anterior." />
		<title>Abril 465</title>
	</head>
	<body>
		<slot />
	</body>
</html>
